@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Skeleton";
    src: local("Arial");
    size-adjust: 0%;
  }
}

@layer components {
  .overlay {
    @apply before:absolute before:inset-0 before:rounded-full before:bg-surface3 before:content-[''];
  }
}
